#about-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/about-bg-5.jpg");
}

.small-sep {
    border: solid 2px var(--pink);
    width: 50px;
}

section#mission * {
    text-align: left;
}


.padding_x {
    padding: 4vh 5vw;
}